<a href="https://colab.research.google.com/github/pleimi/cursos_Jeff_Heaton_Washinton_University_leccion1/blob/main/Aritmetica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
a = 2 + 5  # REFERENCIA https://www.youtube.com/watch?v=MyeCc-Xwi5g&t=11052s
print(a)

7

In [49]:
b = 2**3
print(b)

8

In [52]:
c = a/b
a = 8 
b = 2
print(c)

4.0

In [54]:
d = a % b #  el modulo  % me devuelve lo que sobra de la division 
a = 9
b = 2
print(d)

1

In [55]:
d = a // b #  la division ENTERA // me devuelve solo el entero de la division 
a = 9
b = 2
print(d)

4

OPERACIONES LOGICAS

In [64]:
# Y tambien OR tambien XOR ( SON EXPRESIONES BOOLEANAS )
a = 2
b = 3 
c = a > b 
print(c)
c = a < b
print(c)
d = a > 0 and b < 2
print(d)
a > 0 or b < 2

False
True
False

True

CONVERTIR TUPLAS A LISTAS Y BICEVERSA

In [65]:
tupla1 = (1,2,3,)
print(tupla1)

(1, 2, 3)

In [66]:
lista1 = [3,4,5]
print(lista1)

[3, 4, 5]

In [69]:
lista2 = list(tupla1)
print(lista2)

[1, 2, 3]

In [70]:
tupla2 = tuple(lista1)
print(tupla2)

(3, 4, 5)

PARA ACCEDER A LOS INDICES SE ENCIERRAN CON CORCHETES [ ]

In [71]:
lista1 [0] # acced al indice cero

3

In [72]:
tupla1 [1] # accedo al indice 1

2

In [76]:
lista2 [1] = 5 # cambia el indice 1 por el valor 5
print(lista2)  # NOTA: las tuplas ni las cadenas de caracteres permiten cambiar valores

[1, 5, 3]

CONVERTIMOS UN STRING A UNA TUPLA

In [77]:
a = "este string lo cambiamos a tupla"
print(tuple(a))

('e', 's', 't', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 'l', 'o', ' ', 'c', 'a', 'm', 'b', 'i', 'a', 'm', 'o', 's', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'a')

MULTIPLICACION DE SECUENCIAS

In [80]:
lista3 = [1,2,3,4,5]   # se REPITE LA LISTA n VECES
lista = lista3 * 2
print(lista)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

SABER SI UN ELEMENTO ESTA EN LA LISTA O TUPLA O CADENA

In [83]:
print(6 in lista3)
print(3 in lista3)
print(4 not in lista3) # es falso por que si estÃ¡

False
True
False

SLICING DE SECUENCIA, TOMAR TROCITOS

In [94]:
tupla1 = (1,2,3)
lista1 = [1,2,3]
cadena1 = "sacar trocitos"

print(tupla1[0])
print(lista1[::]) # me da todo
print(cadena1[-1])  # el -1 significa que empiece a contar desde atras
print(cadena1[:2:1]) # deme hasta el indice 2 de uno en uno 
print(cadena1[2::2]) # deme todo desde el indice 2 y salte dea dos caracteres
print(cadena1[::-1]) # para voltear los elementos
print(tupla1[::-1])

1
[1, 2, 3]
s
sa
crtoio
soticort racas
(3, 2, 1)

In [110]:
print(lista1) # me deberia devolver [1,2,3]
lista2 = lista1[:2] # para cambiar el elemento de la lista 
lista2[0] = 25
print(lista2)

[25, 2, 3]
[25, 2]

para SABER CUANDO APARECE UN ELEMENTO

In [104]:
print(cadena1.index("a")) # le pregunto donde esta la primera a

1